body {
  background-color: #e2f2f2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23cfd2fc' fill-opacity='0.39'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 800px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
.cuerpo {
  width: 800px;
  margin: 0 auto;
}

.inicio {
  background-color: #00086e;
  height: 60px;
  width: 800px;
  text-align: center;
  padding: 10px 10px;
}

.nav {
  font-family: Arial;
  color: #000eb9;
  text-size-adjust: 0;
  background-color: #7183ff;
  height: 180px;
  width: 800px;
  padding: 10px 10px;
}

.datos {
  background-color: #9497ff;
  height: 650px;
  width: 800px;
  padding: 10px 10px;
}

.gustos {
  background-color: #7b7dd0;
  height: 750px;
  width: 800px;
  padding: 10px 10px;
}

footer {
  width: 102.5%;
  background: #202020;
  color: white;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}

h1 {
  color: #cbcef7;
  font-family: Arial;
}

h2 {
  color: blue;
  font-family: cursive;
}
h3 {
  font-family: "Segoe UI";
}

p {
  font-family: "Segoe UI";
}
