body {
  background-color: #aff1cf;
}

h1 {
  color: red;
  font-family: Arial;
}

h2 {
  color: blue;
  font-family: cursive;
}
h3 {
  font-family: "Segoe UI";
}
a {
  font-family: "Segoe UI";
}
ul,
li,
p {
  font-family: "Segoe UI";
}
